i{
  cursor: pointer;
}
#modal-btn{
  display: none;
}
a {
  text-decoration: none;
}
.login-page {
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right i {
  font-size: 100px;
}

